.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #0d0e11;
  overflow-x: auto;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f1114;
    height: 60px;
    border: none;
  }

  .sidebar-container {
    flex: 0 0 200px;
  }

  .sidebar-nav {
    padding: 0;
    background-color: #131419;
    width: 200px;
    min-width: 200px;

    c-sidebar-nav {
      --cui-sidebar-nav-link-color: white;
      --cui-sidebar-nav-link-border-radius: 0;
      --cui-sidebar-nav-link-active-color: #20c997;
      --cui-sidebar-nav-link-hover-bg: rgba(253, 253, 253, 0.2);
      --cui-sidebar-nav-link-hover-color: #20c997;
      --cui-sidebar-nav-link-active-bg: rgba(253, 253, 253, 0.2);
    }

  }

  .main-container {
    flex-grow: 1;

    .content-wrapper {
      padding: 20px;
    }

    c-navbar {
      --cui-navbar-color: white;
      --cui-navbar-hover-color: #20c997;
      --cui-navbar-active-color: #20c997;
      --cui-navbar-disabled-color: grey;

      .profile-icon {
        border-radius: 50%;
        width: 30px;
        height: 30px;
      }
    }

    img {
      width: 40px;
      margin-left: 5px;
    }
  }

}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}