@import "@coreui/coreui/scss/coreui";


body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.text-white {
    color: white;
}

.text-green {
    color: #20c997;
}

.text-font-14 {
    font-size: 14px;
} 