.feature-container {
    padding: 10px;
    background-color: #2A2B35;
    width: 50%;
    border-radius: 10px;

    .dropdown {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 25px 0 20px 0;

        .text-asset {
            font-size: 12px;
            margin-left: 10px;
            color: #ceccc6;
        }
    }

    .feature-dropdown {
        width: 180px;
        margin-left: 30px;
        background-color: #2A2B35;
    }
}

.button-container {
    margin-top: 40px;
    width: 180px;
}