<div class="feature-wrapper">
  <div class="feature-container">
    <h6 class="text-white">Calculation resolution</h6>
    <div class="dropdown">
      <span class="text-asset">Asset level</span>
      <!-- Dropdown container -->
      <span class="text-white feature-dropdown">
        <app-dropdown
          [placeholder]="'Select assets level'"
          [options]="options"
          (selectedOption)="onSelect($event)"
        ></app-dropdown>
      </span>
    </div>
  </div>
  <!-- Update button container -->
  <div class="button-container">
    <app-button
      (buttonClick)="updateAssetLevel()"
      [isButtonDisable]="selectedOption"
      [buttonName]="'Update and Proceed'"
    ></app-button>
  </div>
</div>
