select {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #2A2B35;
  border-radius: 5px;
  padding: 5px !important;
  border-color: #20c997;
  width: 100%;
  cursor: pointer;
}

option {
  color: white;
}